<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
	<title>Watson</title>
	<link>http://warson.local</link>
	<description>Flux Rss de l'application Watson</description>
	
	{% for link in links %}
		<item>
			<title>{{ link.title }}</title>
			<link>{{ link.url }}</link>
			<description>{{ link.desc }}</description>
		</item>
	{% endfor %}
	
</channel>
</rss>
